.items {
  background: #f2ece9;
  .table_name {
    width: 20%;
  }
  .table_desc {
    width: 40%;
  }
  .table_price {
    width: 15%;
  }
  .table_cat {
    width: 15%;
  }
  button.btn-font-color {
    color: #fff;
  }
}


