<div class="container paypal">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <%= link_to @redirect_url do %>
        <img src="/Users/hannah/Desktop/paypal-button.png" alt="PayPal Logo">
      <% end %>
    </div>
  </div>
</div>

